name: "ClusterNamespace"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  EKS_CLUSTER_NAME: ${{ env.EKS_CLUSTER_NAME }}

jobs:
  ClusterNamespace:
    name: 'Terraform'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.0

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-west-2

    - name: Initialize Terraform
      run: terraform init

    # - name: Validate Terraform
    #   run: terraform validate

    - name: Plan Terraform
      run: terraform plan -var "eks_cluster_name= ${{ env.EKS_CLUSTER_NAME }}"

    - name: Apply Terraform
      if: github.ref == 'refs/heads/main'
      run: terraform apply -auto-approve
